<div class="row">
	<div class="col-sm-offset-2 col-sm-8">
		<carousel>
			<slide ng-repeat="image in business.images" active="image.active">
				<img ng-src="{{imagesEndpoint}}{{image.path}}.{{image.ext}}" alt="" />
				<div class="carousel-caption">
					<h2 ng-bind="business.name"></h2>
					<h4 ng-bind="image.caption"></h4>
				</div>
			</slide>
		</carousel>
	</div>
</div>
<div class="row business page-content">
	<div class="col-sm-6 text-right">
		<h1 ng-bind="business.name"></h1>
		<h4 ng-bind="business.description"></h4>
	</div>
	<div class="col-sm-6 text-left">
		<h2>Kontakt:</h2>
		<h4><span class="fa fa-map-marker"></span> <span ng-bind="business.address"></span></h4>
		<h4><span class="fa fa-phone"></span> <span ng-bind="business.phone"></span></h4>
		<h4><span class="fa fa-envelope-o"></span> <span ng-bind="business.email"></span></h4>
	</div>
</div>
<div class="row" ng-if="business.coords_x && business.coords_y">
	<map center="{{business.coords_x}}, {{business.coords_y}}" zoom="16">
		<marker position="[{{business.coords_x}}, {{business.coords_y}}]"></div>
	</map>
</div>
