<div class="row page-heading">
	<div class="col-sm-3 text-center category-country-map">
		<span class="mg {{country.icon}}" style="color: {{country.color}}"></span>
		<h1 ng-bind="country.name"></h1>
		<div class="col-sm-12">
			<p ng-bind="country.phone"></p>
			<p ng-bind="country.email"></p>
			<select class="form-group form-control" ng-options="city.id as city.name for city in country.cities" ng-model="currentCity">
				<option value="">-- Qyteti --</option>
			</select>
			<input type="text" class="form-group form-control" ng-model="text" placeholder="Kërko...">
		</div>
	</div>
	<div class="col-sm-9">
		<div class="row categories">
			<div class="col-sm-2 col-xs-4 text-center" ng-repeat="category in categories"  ng-class="category.id==currentCategory?'category-selected':''">
				<a class="category-icon" ng-click="changeCategory(category.id)">
					<span style="color:{{category.color}}" class="fa {{category.icon}}"></span>
					<p ng-bind="category.name"></p>
				</a>
			</div>
		</div>
	</div>
</div>
<div id="businesses" class="row page-content">
	<div class="col-sm-3 col-xs-6 text-center" ng-repeat="(key, business) in filteredBusinesses = (country.businesses | filter: {city_id: currentCity?currentCity:undefined, category_id: currentCategory}:true | filter: text?text:'')">
		<a ui-sref="marketing.business({id:business.id})">
			<img ng-src="{{imagesEndpoint}}{{business.images[0].path}}.{{business.images[0].ext}}" alt="" class="img-thumbnail"/>
			<h3 ng-bind="business.name"></h3>
			<small ng-bind="business.category.name"></small>
			<p ng-bind="business.description | cut:true:80:' ...'"></p>
		</a>
	</div>
	<div ng-hide="filteredBusinesses.length" class="col-sm-12 text-center">
		<h2 class="text-danger">S'ka rezultate!</h2>
	</div>
</div>
