@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
	font-family: Flaticon;
font-size: inherit;
font-style: normal;
//margin-left: 20px;
}.flaticon-alcohol93:before {
	content: "\e000";
}
.flaticon-audience1:before {
	content: "\e001";
}
.flaticon-beauty11:before {
	content: "\e002";
}
.flaticon-black401:before {
	content: "\e003";
}
.flaticon-call37:before {
	content: "\e004";
}
.flaticon-charity5:before {
	content: "\e005";
}
.flaticon-clothing363:before {
	content: "\e006";
}
.flaticon-construction15:before {
	content: "\e007";
}
.flaticon-cutlery6:before {
	content: "\e008";
}
.flaticon-dollar9:before {
	content: "\e009";
}
.flaticon-employee1:before {
	content: "\e00a";
}
.flaticon-employee7:before {
	content: "\e00b";
}
.flaticon-gas-station:before {
	content: "\e00c";
}
.flaticon-healthy-food4:before {
	content: "\e00d";
}
.flaticon-house34:before {
	content: "\e00e";
}
.flaticon-judge1:before {
	content: "\e00f";
}
.flaticon-man204:before {
	content: "\e010";
}
.flaticon-marketing10:before {
	content: "\e011";
}
.flaticon-phone391:before {
	content: "\e012";
}
.flaticon-seo40:before {
	content: "\e013";
}
.flaticon-tea24:before {
	content: "\e014";
}
.flaticon-tooth:before {
	content: "\e015";
}
.flaticon-tshirt18:before {
	content: "\e016";
}
.flaticon-vacuum6:before {
	content: "\e017";
}
.flaticon-vehicle12:before {
	content: "\e018";
}
.flaticon-weightlifter3:before {
	content: "\e019";
}
.flaticon-woman145:before {
	content: "\e01a";
}
.flaticon-woman71:before {
	content: "\e01b";
}
