html, body {
	height: 100%;
}

body {
	margin-top: 50px;
	font-family: Helvetica;
	color: #393738;
	/*background-image: url('../images/Patt.png');*/
}

.page-heading {
	padding: 25px;
}

.page-heading hr {
	margin-bottom: 40px;
	border-color: #9D8F62;
}

.page-heading .fa.page-icon, .page-heading .mg {
	font-size: 8vw;
	color: #9D8F62;
}

.page-content {
	background-color: white;
	padding: 3%;
}

a:hover {
	text-decoration: none;
}

.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
	width:100%;
}

.carousel-caption {
	background-color: rgba(0,0,0,0.5);
	padding: 20px;
	border-radius: 10px;
}

.carousel-caption.visible-xs {
	padding: 10px;
}

.carousel-caption h2, .carousel-caption.visible-xs h4 {
	color: #9D8F62;
}

.carousel-caption h2 {
	margin: 0;
	margin-bottom: 20px;
}

.carousel-caption h4 {
	margin: 0;
	margin-bottom: 10px;
}

.left.carousel-control, .right.carousel-control {
	cursor: pointer;
}

.navbar-default {
	background-color: white;
	border-color: transparent;
	border-bottom: 1px solid #9D8F62;
	border-radius: 0px;
}

.navbar {
	box-shadow: none;
}

.navbar-toggle {
  padding: 5px 10px;
}

.navbar-default .navbar-brand{
	//padding: 15px;
	padding: 2px 15px;
}

.navbar-brand img {
	height: 46px;
}

.navbar-brand {
	font-size: 28px;
	color: #9D8F62!important;
}

.header, .navbar {
	margin-bottom: 0px;
}

.home-search {
	padding: 40px 0;
	background: transparent;
}

.home-search-shadow {
	background-color: #444;
	padding: 10px 10px 0 10px;
}

.home-search .title {
	color: white;
	margin: 0px;
	margin-bottom: 30px;
	padding: 0px;
	text-transform: uppercase;
}

.home-search input,
.home-search button,
.home-search select,
.contact-container input,
.contact-container button,
.contact-container textarea {
	font-size: 22px;
	height: auto;
	margin-bottom: 10px;
}

.fa-search {
	font-size: inherit!important;
}

@media only screen and (min-width : 768px) {
	.categories .col-sm-2:nth-child(6n+1),
	.page-content .col-sm-3:nth-child(4n+1) {
		clear: left;
	}
}

@media only screen and (max-width : 767px) {
	.page-content .col-xs-6:nth-child(2n+1),
	.categories .col-xs-4:nth-child(3n+1) {
		clear: left;
	}
}

.category-selected a span, .category-selected p {
	color: #ffbb00!important;
}

.state {
	border: 1px solid #aaa;
	border-radius: 100%;
	background-color: #eee;
	padding: 10%;
	height: 100%;
	width: 100%;
}

.state a:first-child {
	font-size: 10px;
	line-height: 1;
}

.state .mg {
	font-size: 140px; font-size: 8vw;
}

.state .title {
	font-size: 2vw;
}

@media only screen and (max-width : 767px) {
	.state-xs .title {
		font-size: 4vw;
	}
	.state-xs .mg {
		font-size: 140px; font-size: 13vw;
	}
}

.visible-xs.mg {
	font-size: 40px;
	font-size: 15vw;
}

.category-country-map p {
	color: #337ab7
}

.category-country-map .mg {
	font-size: 120px;
	color: #9D8F62!important;
}

.category-icon {
	color: #9D8F62;
	cursor: pointer;
}

.category-icon span{
	color: #9D8F62;
	font-size: 50px;
	cursor: pointer;
}

.category-icon:hover {
	color: #9D8F62!important;
	cursor: pointer;
}

.category-icon-large span {
	font-size: 10vw;
}

.category-icon-large p {
	font-size: 25px;
}

map {
	width: 100%;
	height: 400px;
}

.dropdown:hover .dropdown-menu {
	display: block;
}

.navbar-default .navbar-nav > li > a {
	color: #9D8F62;
	font-size: 16px;
	text-transform: uppercase;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
	color: #FFF;
	background-color: #9D8F62;
}

.dropdown-menu > li > a, .dropdown-menu > li > a {
	color: #9D8F62;
	text-decoration: none;
	background-color: #FFF;
	font-size: 16px;
	text-transform: uppercase;
}

.admin-container {
	background-color: white;
	padding: 30px 20px;
}

.admin-item {
	width: 100%;
	height: 100%;
	border: 1px solid #9D8F62;
	border-radius: 10px;
	padding: 20px;
	margin-bottom: 20px;
}

.admin-item a {
	width: 100%;
	height: 100%;
}

.admin-item .fa {
	font-size: 72px;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
	color: #FFF;
	text-decoration: none;
	background-color: #9D8F62;
}

#loading-bar-spinner .spinner-icon {
	border-top-color: #62709D;
	border-left-color: #62709D;
}

#loading-bar .bar {
	background: #62709D;
	height: 8px;
}

pdf-viewer canvas {
	height: 100%;
	width: 100%;
}

.event .text-right, .business .text-right, .service .text-right {
	border-right: 1px solid #9D8F62;
}

@media (max-width: 768px) {
	.event .text-right, .event .text-left,
	.business .text-right, .business .text-left,
	.service .text-right, .service .text-left {
		text-align: center;
	}
	.event .text-right, .business .text-right {
		border-right: 0px solid #9D8F62;
	}
}

h1,h2,h3,h4,h5,h6 {
	//margin: 0px;
}

h1 {
	color: #9D8F62;
}

h2 {
	color: #337ab7
}

footer {
	padding: 10px;
	color: #9D8F62;
}

footer img {
	width: 35px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  line-height: 1.6;
}

.navbar-nav li a {
  font-weight: bold;
}
