<!doctype html>
<html class="no-js" ng-app="marketing">
<head>
	<meta charset="utf-8">
	<title update-title></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<!-- build:css(.) styles/vendor.css -->
	<!-- bower:css -->
	<link rel="stylesheet" href="bower_components/angular-bootstrap-lightbox/dist/angular-bootstrap-lightbox.min.css" />
	<link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.min.css" />
	<link rel="stylesheet" href="bower_components/angular-rangeslider/angular.rangeSlider.css" />
	<link rel="stylesheet" href="bower_components/slick-carousel/slick/slick.css" />
	<link rel="stylesheet" href="bower_components/slick-carousel/slick/slick-theme.css" />
	<link rel="stylesheet" href="bower_components/fullcalendar/dist/fullcalendar.min.css" />
	<link rel="stylesheet" href="bower_components/angular-xeditable/dist/css/xeditable.css" />
	<link rel="stylesheet" href="bower_components/angularjs-toaster/toaster.min.css" />
	<link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.min.css" />
	<link rel="stylesheet" href="bower_components/bootstrap-css/css/bootstrap.min.css" />
	<link rel='stylesheet' href='bower_components/textAngular/dist/textAngular.css'>
	<!-- endbower -->
	<!-- endbuild -->
	<!--- build:css(.tmp) styles/main.css -->
	<link rel="stylesheet" href="frontend_files/styles/main.css">
	<link rel="stylesheet" href="frontend_files/styles/responsive_grid.css">
	<link rel="stylesheet" href="frontend_files/styles/flaticon.css">
	<link rel="stylesheet" href="frontend_files/mapglyphs/mapglyphs.css">
	<!-- endbuild -->
</head>
<body style="background-image: url('{{imagesEndpoint}}Patt.png')" ng-controller="mainController">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
	your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<div class="header">
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-toggle" ui-sref="marketing.login"><span class="fa fa-user"></span></a>
				<a ui-sref="marketing.home"><span class="navbar-brand"><img ng-src="{{imagesEndpoint}}logo.png" alt="magnetbiznes.com" /></span></a>
			</div>

			<div class="collapse navbar-collapse" id="js-navbar-collapse">
				<div class="pull-right" ng-controller="menuController" ng-include="'frontend_files/views/menu/menu.html'"></div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<toaster-container toaster-options="{'close-button':true,'time-out': { 'toast-success': 3000, 'toast-warning': 5000, 'toast-error': 10000 } }"></toaster-container>
	<div class="main-container" ui-view></div>
</div>

<footer class="footer">
	<div class="container-fluid text-center">
		<span><a href="http://better.network"><img ng-src="{{imagesEndpoint}}better.png" alt="" /> better.</a> &copy 2015 </span>
	</div>
</footer>

<script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async defer ></script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-71686585-1', 'auto');
  //ga('send', 'pageview');
</script>
<script src="//maps.google.com/maps/api/js"></script>
<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="bower_components/angular-bootstrap-lightbox/dist/angular-bootstrap-lightbox.min.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
<script src="bower_components/blob-polyfill/Blob.js"></script>
<script src="bower_components/file-saver.js/FileSaver.js"></script>
<script src="bower_components/angular-file-saver/src/file-saver.js"></script>
<script src="bower_components/br-validations/releases/br-validations.min.js"></script>
<script src="bower_components/string-mask/src/string-mask.js"></script>
<script src="bower_components/angular-input-masks/angular-input-masks-standalone.min.js"></script>
<script src="bower_components/angular-loading-bar/build/loading-bar.min.js"></script>
<script src="bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
<script src="bower_components/angular-messages/angular-messages.min.js"></script>
<script src="bower_components/angular-rangeslider/angular.rangeSlider.js"></script>
<script src="bower_components/angular-resource/angular-resource.min.js"></script>
<script src="bower_components/slick-carousel/slick/slick.min.js"></script>
<script src="bower_components/angular-slick-carousel/dist/angular-slick.min.js"></script>
<script src="bower_components/moment/min/moment.min.js"></script>
<script src="bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
<script src="bower_components/angular-ui-calendar/src/calendar.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="bower_components/angular-xeditable/dist/js/xeditable.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angularjs-toaster/toaster.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/flow.js/dist/flow.min.js"></script>
<script src="bower_components/ng-flow/dist/ng-flow.min.js"></script>
<script src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.min.js"></script>
<script src="bower_components/bootstrap-css/js/bootstrap.min.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script src="bower_components/ngmap/build/scripts/ng-map.min.js"></script>
<script src="bower_components/pdfjs-dist/build/pdf.js"></script>
<script src="bower_components/angular-pdf-viewer/dist/angular-pdf-viewer.min.js"></script>
<script src="bower_components/angular-recaptcha/release/angular-recaptcha.min.js"></script>
<!-- endbower -->
<script src="bower_components/angular-i18n/angular-locale_it-it.js"></script>
<script src="bower_components/moment/locale/it.js"></script>
<script src='bower_components/textAngular/dist/textAngular-rangy.min.js'></script>
<script src='bower_components/textAngular/dist/textAngular-sanitize.min.js'></script>
<script src='bower_components/textAngular/dist/textAngular.min.js'></script>
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->

<script>
	$('.navbar-collapse').click('li', function() {
		$('.navbar-collapse').collapse('hide');
	});
</script>

<!-- MAIN APP FILES SECTION -->
<script src="frontend_files/scripts/app.js"></script>
<script src="frontend_files/scripts/config.js"></script>
<script src="frontend_files/scripts/constants.js"></script>

<!-- ROUTES SECTION -->
<script src="frontend_files/scripts/routes/routes.js"></script>
<!-- Custom routes here -->
<script src="frontend_files/scripts/routes/admin/admin.routes.js"></script>
<script src="frontend_files/scripts/routes/admin/businessesAdmin.routes.js"></script>
<script src="frontend_files/scripts/routes/admin/eventsAdmin.routes.js"></script>
<script src="frontend_files/scripts/routes/admin/newssAdmin.routes.js"></script>
<script src="frontend_files/scripts/routes/admin/consultingsAdmin.routes.js"></script>
<script src="frontend_files/scripts/routes/admin/infoAdmin.routes.js"></script>
<script src="frontend_files/scripts/routes/admin/servicesAdmin.routes.js"></script>
<script src="frontend_files/scripts/routes/admin/optionsAdmin.routes.js"></script>
<script src="frontend_files/scripts/routes/admin/jobsAdmin.routes.js"></script>
<script src="frontend_files/scripts/routes/country.routes.js"></script>
<script src="frontend_files/scripts/routes/contact.routes.js"></script>
<script src="frontend_files/scripts/routes/events.routes.js"></script>
<script src="frontend_files/scripts/routes/news.routes.js"></script>
<script src="frontend_files/scripts/routes/services.routes.js"></script>
<script src="frontend_files/scripts/routes/consulting.routes.js"></script>
<script src="frontend_files/scripts/routes/about.routes.js"></script>
<script src="frontend_files/scripts/routes/jobs.routes.js"></script>

<!-- FILTERS SECTION -->
<script src="frontend_files/scripts/filters/filters.js"></script>

<!-- TEMPLATES SECTION -->
<script src="frontend_files/scripts/templates/templates.js"></script>
<script src="frontend_files/scripts/templates/errorMessages.js"></script>
<script src="frontend_files/scripts/templates/modalServiceTemplate.js"></script>
<script src="frontend_files/scripts/templates/pagination.js"></script>


<!-- DIRECTIVES SECTION -->
<script src="frontend_files/scripts/directives/directives.js"></script>
<script src="frontend_files/scripts/directives/sortable.js"></script>
<script src="frontend_files/scripts/directives/updateTitle.js"></script>
<script src="frontend_files/scripts/directives/pagination.js"></script>


<!-- SERVICES SECTION -->
<script src="frontend_files/scripts/services/services.js"></script>
<script src="frontend_files/scripts/services/resources.js"></script>
<script src="frontend_files/scripts/services/resourceExtensions.js"></script>
<script src="frontend_files/scripts/services/locationParametersService.js"></script>
<script src="frontend_files/scripts/services/searchDataService.js"></script>
<script src="frontend_files/scripts/services/authInterceptorService.js"></script>
<script src="frontend_files/scripts/services/authorizationService.js"></script>
<script src="frontend_files/scripts/services/identityStoreService.js"></script>
<script src="frontend_files/scripts/services/searchDataService.js"></script>
<script src="frontend_files/scripts/services/notificationService.js"></script>
<script src="frontend_files/scripts/services/autocompleteService.js"></script>
<script src="frontend_files/scripts/services/modalService.js"></script>
<script src="frontend_files/scripts/services/exportService.js"></script>


<!-- MODALS SECTION -->
<script src="frontend_files/scripts/controllers/modals/modals.module.js"></script>
<!-- Custom modals here -->


<!-- CONTROLLERS SECTION -->
<script src="frontend_files/scripts/controllers/controllers.js"></script>

<!-- Login controllers -->
<script src="frontend_files/scripts/controllers/login/login.module.js"></script>
<script src="frontend_files/scripts/controllers/login/login.js"></script>
<script src="frontend_files/scripts/controllers/login/loginWidget.js"></script>

<!-- Menu controller -->
<script src="frontend_files/scripts/controllers/menu/menu.js"></script>

<!-- Home controller -->
<script src="frontend_files/scripts/controllers/home/home.js"></script>

<!-- Admin controller -->
<script src="frontend_files/scripts/controllers/admin/admin.module.js"></script>
<script src="frontend_files/scripts/controllers/admin/admin.js"></script>
<script src="frontend_files/scripts/controllers/admin/login.js"></script>

<!-- Admin Businesses controller -->
<script src="frontend_files/scripts/controllers/admin/businessesAdmin.js"></script>

<!-- Admin Events controller -->
<script src="frontend_files/scripts/controllers/admin/eventsAdmin.js"></script>

<!-- Admin News controller -->
<script src="frontend_files/scripts/controllers/admin/newssAdmin.js"></script>

<!-- Admin Consulting controller -->
<script src="frontend_files/scripts/controllers/admin/consultingAdmin.js"></script>

<!-- Admin Information controller -->
<script src="frontend_files/scripts/controllers/admin/infoAdmin.js"></script>

<!-- Admin services controller -->
<script src="frontend_files/scripts/controllers/admin/servicesAdmin.js"></script>

<!-- Admin jobs controller -->
<script src="frontend_files/scripts/controllers/admin/jobsAdmin.js"></script>

<!-- Admin options controller -->
<script src="frontend_files/scripts/controllers/admin/optionsAdmin.js"></script>

<!-- Country controller -->
<script src="frontend_files/scripts/controllers/country/country.module.js"></script>
<script src="frontend_files/scripts/controllers/country/country.js"></script>
<script src="frontend_files/scripts/controllers/country/business.js"></script>

<!-- Contact controller -->
<script src="frontend_files/scripts/controllers/contact/contact.module.js"></script>
<script src="frontend_files/scripts/controllers/contact/contact.js"></script>

<!-- Events controller -->
<script src="frontend_files/scripts/controllers/events/events.module.js"></script>
<script src="frontend_files/scripts/controllers/events/events.js"></script>
<script src="frontend_files/scripts/controllers/events/event.js"></script>

<!-- News controller -->
<script src="frontend_files/scripts/controllers/news/news.module.js"></script>
<script src="frontend_files/scripts/controllers/news/newss.js"></script>
<script src="frontend_files/scripts/controllers/news/news.js"></script>

<!-- News controller -->
<script src="frontend_files/scripts/controllers/services/services.module.js"></script>
<script src="frontend_files/scripts/controllers/services/services.js"></script>
<script src="frontend_files/scripts/controllers/services/service.js"></script>

<!-- Consulting controller -->
<script src="frontend_files/scripts/controllers/consulting/consulting.module.js"></script>
<script src="frontend_files/scripts/controllers/consulting/consulting.js"></script>

<!-- About controller -->
<script src="frontend_files/scripts/controllers/about/about.module.js"></script>
<script src="frontend_files/scripts/controllers/about/about.js"></script>

<!-- Jobs controller -->
<script src="frontend_files/scripts/controllers/jobs/jobs.module.js"></script>
<script src="frontend_files/scripts/controllers/jobs/jobs.js"></script>
<script src="frontend_files/scripts/controllers/jobs/job.js"></script>

<!-- Custom controllers here -->
<!-- Order should be: 1) [your_controller].module.js 2) [your_controller].js -->

<!-- endbuild -->
</body>
</html>
