<ul ng-if="isAuthorized()" class="nav navbar-nav navbar-right">
	<p class="navbar-text">Welcome {{identityStoreService.getIdentity().data.fullName}}</p>
	<li class="dropdown">
		<a href class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
			<span class="glyphicon glyphicon-user"></span>&nbsp;
			<span class="caret"></span>
		</a>
		<ul class="dropdown-menu" role="menu">
			<li><a ui-sref="marketing.home">Backend</a></li>
			<li><a ui-sref="marketing.home">Profile settings</a></li>
			<li><a ng-click="logout()">Logout</a></li>
		</ul>
	</li>
</ul>
