<div class="row page-heading">
	<div class="col-sm-offset-2 col-sm-3 text-center">
		<span class="page-icon fa fa-user text-center"></span>
		<h1>CV</h1>
		<input type="text" class="form-group form-control" placeholder="Kërko..." ng-model="text">
	</div>
	<hr ng-if="false" class="visible-xs">
	<div ng-if="false" class="col-sm-9">
		<div class="row categories">
			<div class="col-sm-2 col-xs-4 text-center" ng-repeat="category in categories" ng-class="category.id==currentCategory?'category-selected':''">
				<a class="category-icon" ng-click="changeCategory(category.id)">
					<span class="fa {{category.icon}}"></span>
					<p ng-bind="category.name"></p>
				</a>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="row categories">
			<div class="col-sm-5 col-xs-6 text-center" ng-repeat="type in types" ng-class="type.id==currentType?'category-selected':''">
				<a class="category-icon category-icon-large" ng-click="changeType(type.id)">
					<span class="fa {{type.icon}}"></span>
					<p ng-bind="type.name"></p>
				</a>
			</div>
		</div>
	</div>
</div>
<div class="row page-content">
	<div class="col-sm-12">
		<div class="row">
			<div class="col-sm-3 col-xs-6 text-center" ng-repeat="job in filteredJobs = (jobs | filter: {category_id: currentCategory?currentCategory:undefined, type_id: currentType?currentType:undefined}:true | filter: text?text:'')">
				<a ui-sref="marketing.job({id: job.id})">
					<img ng-if="!job.image" src="{{imagesEndpoint}}no-thumb.gif" alt="" class="img-thumbnail"/>
					<img ng-if="job.image" ng-src="{{imagesEndpoint}}{{job.image.path}}.{{job.image.ext}}" alt="" class="img-thumbnail"/>
					<h3 ng-bind="job.name"></h3>
					<small ng-bind="job.category.name"></small>
					<p ng-bind="job.description | cut:true:80:' ...'"></p>
				</a>
			</div>
			<div ng-hide="filteredJobs.length" class="col-sm-12 text-center">
				<h2 class="text-danger">S'ka rezultate!</h2>
			</div>
		</div>
	</div>
</div>
