<div class="row page-heading">
	<div class="col-sm-12 text-center">
		<span class="page-icon fa fa-user text-center"></span>
		<h1>Curriculum Vitae</h1>
		<h2 ng-bind="job.name"></h2>
	</div>
</div>
<div class="row page-content">
	<div class="col-sm-offset-1 col-sm-10 job-content">
		<div class="col-sm-4 text-right">
			<img class="" ng-src="{{imagesEndpoint}}{{job.image.path}}.{{job.image.ext}}" alt="" />
			<h3><b>{{job.name}}</b></h3>
			<small>Regjistruar më: <span ng-bind="job.created_at | date"></span></small>
			<h4><b>Kontakt:</b></h4>
			<h4 ng-bind="job.email"></h4>
			<h4 ng-bind="job.phone"></h4>
			<hr>
			<h4><b>Rreth meje:</b></h4>
			<h4 ng-bind="job.description"></h4>
		</div>
		<div class="col-sm-8">
			<div class="panel panel-default">
				<div class="panel-heading">
					<my-pdf-viewer-toolbar></my-pdf-viewer-toolbar>
				</div>
				<div class="panel-body">
					<pdf-viewer url="path" scale="1" show-toolbar="false"></pdf-viewer>
				</div>
			</div>
		</div>
	</div>
</div>
