<div class="row page-heading">
	<div class="col-sm-3">
		<div class="row">
			<div class="col-sm-12 text-center">
				<span class="page-icon fa fa-gavel text-center"></span>
				<h1>Shërbime biznesi</h1>
				<input type="text" class="form-group form-control" ng-model="text" placeholder="Kërko...">
			</div>
		</div>
	</div>
	<hr class="visible-xs">
	<div class="col-sm-9">
		<div class="row">
			<div class="col-sm-2 col-xs-4 text-center" ng-repeat="category in categories" ng-class="category.id==currentCategory?'category-selected':''">
				<a class="category-icon" ng-click="changeCategory(category.id)">
					<span class="fa {{category.icon}}"></span>
					<p ng-bind="category.name"></p>
				</a>
			</div>
		</div>
	</div>
</div>
<div class="row page-content">
	<div class="col-sm-12">
		<div class="row">
			<div class="col-sm-3 col-xs-6 text-center" ng-repeat="service in filteredServices = (services | filter: {category_id: currentCategory?currentCategory:undefined}:true | filter: text?text:'')">
				<a ui-sref="marketing.service({id: service.id})">
					<img ng-if="service.images.length==0" src="{{imagesEndpoint}}no-thumb.gif" alt="" class="img-thumbnail"/>
					<img ng-if="service.images.length!=0" ng-src="{{imagesEndpoint}}{{service.images[0].path}}.{{service.images[0].ext}}" alt="" class="img-thumbnail"/>
					<h3 ng-bind="service.name"></h3>
					<small ng-bind="service.category.name"></small>
					<p ng-bind="service.content | cut:true:80:' ...'"></p>
				</a>
			</div>
			<div ng-hide="filteredServices.length" class="col-sm-12 text-center">
				<h2 class="text-danger">S'ka rezultate!</h2>
			</div>
		</div>
	</div>
</div>
