<div class="row page-heading">
	<div class="col-sm-offset-2 col-sm-3">
		<carousel>
			<slide ng-repeat="image in service.images" active="image.active">
				<img class="img-responsive" ng-src="{{imagesEndpoint}}{{image.path}}.{{image.ext}}" alt="" />
			</slide>
		</carousel>
	</div>
	<div class="col-sm-5 text-left">
		<span class="page-icon fa fa-gavel text-center"></span>
		<h1 ng-bind="service.category.name"></h1>
		<h2 ng-bind="service.name"></h2>
	</div>
</div>
<div class="row service page-content">
	<div class="col-sm-6 text-right">
		<h2>Përshkrim:</h2>
		<h4 ng-bind="service.content"></h4>
	</div>
	<div class="col-sm-6 text-left">
		<h2>Kontakt:</h2>
		<h4><span class="fa fa-map-marker"></span> <span ng-bind="service.address"></span></h4>
		<h4><span class="fa fa-phone"></span> <span ng-bind="service.phone"></span></h4>
		<h4><span class="fa fa-envelope-o"></span> <span ng-bind="service.email"></span></h4>
	</div>
</div>
