<div class="row page-heading">
	<div class="col-sm-offset-4 col-sm-4 text-center">
		<span class="page-icon fa fa-newspaper-o text-center"></span>
		<h1>Lajme Biznesi</h1>
		<input type="text" class="form-group form-control" placeholder="Kërko..." ng-model="text">
	</div>
</div>
<div class="row page-content">
	<div class="col-sm-3 col-xs-6 text-center" ng-repeat="new in filteredNews = (news | filter: text?text:'')">
		<a ui-sref="marketing.news({id: new.id})">
			<img ng-if="new.images.length==0" src="{{imagesEndpoint}}no-thumb.gif" alt="" class="img-thumbnail"/>
			<img ng-if="new.images.length!=0" ng-src="{{imagesEndpoint}}{{new.images[0].path}}.{{new.images[0].ext}}" alt="" class="img-thumbnail"/>
			<h3 ng-bind="new.title"></h3>
			<small ng-bind="new.created_at | date"></small>
			<p ng-bind-html="new.description | cut:true:80:' ...'"></p>
		</a>
	</div>
	<div ng-hide="filteredNews.length" class="col-sm-12 text-center">
		<h2 class="text-danger">S'ka rezultate!</h2>
	</div>
</div>
