<div class="row page-heading">
	<div class="col-sm-12 text-center">
		<span class="page-icon fa fa-newspaper-o text-center"></span>
		<h1 ng-bind="news.title"></h1>
	</div>
</div>
<div class="row page-content">
	<div class="col-sm-offset-3 col-sm-6">
		<carousel>
			<slide ng-repeat="image in news.images" active="image.active">
				<img class="img-responsive" ng-src="{{imagesEndpoint}}{{image.path}}.{{image.ext}}" alt="" />
			</slide>
		</carousel>
	</div>
	<div class="col-sm-offset-1 col-sm-10">
		<h3><span ng-bind="news.created_at | date"></span></h3>
		<h4 ng-bind-html="news.description"></h4>
	</div>
</div>
