<div class="row page-heading">
	<div class="col-sm-12 text-center">
		<span class="page-icon fa fa-info text-center"></span>
		<h1>Kush jemi ne</h1>
	</div>
</div>
<div class="row page-content">
	<div class="col-sm-12">
		<div class="row" ng-repeat="(key, content) in about">
			<div class="col-sm-12" ng-class="key%2?'text-right':''">
				<div class="col-sm-4" ng-class="key%2?'pull-right':''">
					<img class="img-responsive" ng-src="{{imagesEndpoint}}{{content.images[0].path}}.{{content.images[0].ext}}" alt="" />
				</div>
				<h2 ng-bind="content.header"></h2>
				<p ng-bind="content.content"></p>
			</div>
		</div>
	</div>
</div>
