<div class="row page-heading">
	<div class="col-sm-12 text-center">
		<span class="page-icon fa fa-briefcase text-center"></span>
		<h1>Konsulencë marketingu</h1>
	</div>
</div>
<div class="row page-content">
	<div class="col-sm-12">
		<div class="row" ng-repeat="(key, consulting) in consultings">
			<div class="col-sm-12" ng-class="key%2?'text-right':''">
				<div class="col-sm-4" ng-class="key%2?'pull-right':''">
					<img class="img-responsive img-rounded" ng-src="{{imagesEndpoint}}{{consulting.images[0].path}}.{{consulting.images[0].ext}}" alt="" />
				</div>
				<h2 ng-bind="consulting.header"></h2>
				<p ng-bind="consulting.content"></p>
			</div>
		</div>
	</div>
</div>
