<div class="row page-heading text-center">
	<div class="col-sm-12">
		<span class="page-icon fa fa-map-marker text-center"></span>
		<h1>Kontakt</h1>
	</div>
</div>
<div class="row page-content text-center">
	<h3>Mund të na kontaktoni në mënyrat e mëposhtme:</h3>
	<div class="col-sm-4">
		<map center="41.397, 19.644" zoom="16"></map>
	</div>
	<div class="col-sm-4 text-left">
		<h3>Info kontakti:</h3>
		<p>
			<span class="fa fa-map-marker"></span><span> Building Name, 125 Street, City Country</span>
		</p>
		<p>
			<span class="fa fa-phone"></span><span> +1 001 234 567, +1 001 234 568</span>
		</p>
		<p>
			<span class="fa fa-envelope-o"></span><span> info@domain.com</span>
		</p>
	</div>
	<div class="col-sm-4">
		<h3 class="text-right">Dërgoni E-Mail:</h3>
		<form class="form-horizontal" ng-submit="sendEmail()">
			<div class="form-group">
				<div class="col-sm-12">
					<input type="text" ng-model="email.name" class="form-control" placeholder="Emri">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-12">
					<input type="email" ng-model="email.email" class="form-control" placeholder="E-Mail">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-12">
					<input type="text" ng-model="email.subject" class="form-control" placeholder="Subjekti">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-12">
					<textarea rows="4" ng-model="email.message" class="form-control" placeholder="Mesazhi"></textarea>
				</div>
			</div>
      <!--<div class="form-group">
        <div class="col-sm-12">
          <div vc-recaptcha key="'6Ldq2RYTAAAAANoy-79uQpw1FsKQ4BoAg6g469cA'"></div>
          <div vc-recaptcha key="'6Lc34BYTAAAAAN8snhvFkLo08PreMxNL3IylHMKP'"></div>
        </div>
      </div>-->
			<div class="form-group">
				<div class="col-sm-offset-6 col-sm-6 pull-right">
					<button type="submit" class="btn btn-block btn-default"><span class="fa fa-envelope-o"></span><span> Dërgo</span></button>
				</div>
			</div>
		</form>
	</div>
</div>
