<div class="row">
	<div class="col-sm-offset-2 col-sm-8">
		<carousel>
			<slide ng-repeat="image in event.images" active="image.active">
				<img ng-src="{{imagesEndpoint}}{{image.path}}.{{image.ext}}" alt="" />
				<div class="carousel-caption">
					<h2 ng-bind="event.name"></h2>
					<h4 ng-bind="image.caption"></h4>
				</div>
			</slide>
		</carousel>
	</div>
</div>
<div class="row event page-content">
	<div class="col-sm-6 text-right">
		<h1 ng-bind="event.name"></h1>
		<h3><span ng-bind="event.date | date"></span>, <span ng-bind="event.country.name"></span></h3>
		<h4 ng-bind="event.description"></h4>
	</div>
	<div class="col-sm-6 text-left">
		<h2>Kontakt:</h2>
		<h4><span class="fa fa-map-marker"></span> <span ng-bind="event.address"></span></h4>
		<h4><span class="fa fa-phone"></span> <span ng-bind="event.phone"></span></h4>
		<h4><span class="fa fa-envelope-o"></span> <span ng-bind="event.email"></span></h4>
	</div>
</div>
<div class="row" ng-if="event.coords_x && event.coords_y">
	<map center="{{event.coords_x}}, {{event.coords_y}}" zoom="18">
		<marker position="[{{event.coords_x}}, {{event.coords_y}}]"></div>
	</map>
</div>
