<div class="row">
	<carousel>
		<slide ng-repeat="event in events | limitTo: 3" active="event.images[0].active">
			<a ui-sref="marketing.event({id:slide.business.id})">
				<img ng-src="{{imagesEndpoint}}{{event.images[0].path}}.{{event.images[0].ext}}" alt="" />
				<div class="carousel-caption">
					<h2 ng-bind="event.name"></h2>
					<h4 ng-bind="event.images[0].caption"></h4>
				</div>
			</a>
		</slide>
	</carousel>
</div>
<div class="row page-heading">
	<div class="col-sm-12">
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-2 col-xs-3 text-center" ng-repeat="country in countries" ng-class="country.id==currentCountry?'category-selected':''">
				<a class="category-icon" ng-click="changeCountry(country.id)">
					<span class="mg {{country.icon}}"></span>
					<p ng-bind="country.name"></p>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-offset-4 col-sm-4">
				<input type="text" class="form-group form-control" ng-model="text" placeholder="Kërko...">
			</div>
		</div>
	</div>
</div>
<div class="row page-content">
	<div class="col-sm-12">
		<div class="row">
			<div class="col-sm-3 col-xs-6 text-center" ng-repeat="event in filteredEvents = (events | filter: {country_id:currentCountry}:true | filter: text?text:'')">
				<a ui-sref="marketing.event({id: event.id})">
					<img ng-if="event.images.length==0" src="{{imagesEndpoint}}no-thumb.gif" alt="" class="img-thumbnail"/>
					<img ng-if="event.images.length!=0" ng-src="{{imagesEndpoint}}{{event.images[0].path}}.{{event.images[0].ext}}" alt="" class="img-thumbnail"/>
					<h3 ng-bind="event.name"></h3>
					<small ng-bind="event.date | date"></small>, <small ng-bind="event.country.name"></small>
					<p ng-bind="event.description | cut:true:80:' ...'"></p>
				</a>
			</div>
			<div ng-hide="filteredEvents.length" class="col-sm-12 text-center">
				<h2 class="text-danger">S'ka rezultate!</h2>
			</div>
		</div>
	</div>
</div>
