<div class="row">
	<button class="btn btn-lg btn-default pull-right" type="button" ui-sref="marketing.admin.infoNew"><span class="fa fa-plus"></span> <span>Shto informacion</span></button>
	<div class="col-sm-12">
		<h1>Informacione</h1>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<h2>Kërko</h2>
	</div>
</div>
<div class="row form-group">
	<div class="col-sm-3">
		<input class="form-control" placeholder="Emri" type="text" ng-model="name">
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<table class="table table-responsive table-striped table-condensed">
			<thead>
				<tr>
					<th>ID</th>
					<th>Emri i informacionit</th>
					<th>Veprime</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="(key, about) in abouts | filter: {header:name}">
					<td ng-bind="about.id"></td>
					<td ng-bind="about.header"></td>
					<td>
						<button class="btn btn-warning" type="button" ui-sref="marketing.admin.infoEdit({id: about.id})"><span class="glyphicon glyphicon-pencil"></span></button>
						<button class="btn btn-danger" type="button" ng-click="delete(about.id, key)"><span class="fa fa-times"></span></button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
