<div class="row">
	<button class="btn btn-lg btn-default pull-right" type="button" ui-sref="marketing.admin.businessNew"><span class="fa fa-plus"></span> <span>Shto biznes</span></button>
	<div class="col-sm-12">
		<h1>Bizneset</h1>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<h2>Kërko</h2>
	</div>
</div>
<div class="row form-group">
	<div class="col-sm-3">
		<input class="form-control" placeholder="Emri" type="text" ng-model="name">
	</div>
	<div class="col-sm-2">
		<select class="form-control" ng-model="currentCategory" ng-options="category.id as category.name for category in categories">
			<option value="">-- Zgjidh kategorinë --</option>
		</select>
	</div>
	<div class="col-sm-2">
		<select class="form-control" ng-model="currentCountry" ng-options="country.id as country.name for country in countries">
			<option value="">-- Zgjidh shtetin --</option>
		</select>
	</div>
	<div class="col-sm-2">
		<select class="form-control" ng-model="currentCity" ng-options="city.id as city.name for city in countries[currentCountry-1].cities" ng-disabled="!currentCountry">
			<option value="">-- Zgjidh qytetin --</option>
		</select>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<table class="table table-responsive table-striped table-condensed">
			<thead>
				<tr>
					<th>ID</th>
					<th>Emri i biznesit</th>
					<th>Kategoria</th>
					<th>Shteti</th>
					<th>Qyteti</th>
					<th>Adresa</th>
					<th>E-mail</th>
					<th>Celulari</th>
					<th>Veprime</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="(key, business) in businesses | filter: {category_id: currentCategory?currentCategory:undefined,country_id: currentCountry?currentCountry:undefined}:true | filter: {name:name}">
					<td ng-bind="business.id"></td>
					<td ng-bind="business.name"></td>
					<td ng-bind="business.category.name"></td>
					<td style="color:{{business.country.color}}" ng-bind="business.country.name"></td>
					<td ng-bind="business.city.name"></td>
					<td ng-bind="business.address"></td>
					<td ng-bind="business.email"></td>
					<td ng-bind="business.phone"></td>
					<td>
						<button class="btn btn-sm btn-warning" type="button" ui-sref="marketing.admin.businessEdit({id: business.id})"><span class="glyphicon glyphicon-pencil"></span></button>
						<button class="btn btn-sm btn-danger" type="button" ng-click="delete(business.id, key)"><span class="fa fa-times"></span></button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
