<div class="row">
	<button class="btn btn-lg btn-default pull-right" type="button" ui-sref="marketing.admin.consultingNew"><span class="fa fa-plus"></span> <span>Shto shërbim konsulence</span></button>
	<div class="col-sm-12">
		<h1>Shërbime konsulence</h1>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<h2>Kërko</h2>
	</div>
</div>
<div class="row form-group">
	<div class="col-sm-3">
		<input class="form-control" placeholder="Emri" type="text" ng-model="name">
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<table class="table table-responsive table-striped table-condensed">
			<thead>
				<tr>
					<th>ID</th>
					<th>Emri i shërbimit</th>
					<th>Veprime</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="(key, consulting) in consultings | filter: {header:name}">
					<td ng-bind="consulting.id"></td>
					<td ng-bind="consulting.header"></td>
					<td>
						<button class="btn btn-warning" type="button" ui-sref="marketing.admin.consultingEdit({id: consulting.id})"><span class="glyphicon glyphicon-pencil"></span></button>
						<button class="btn btn-danger" type="button" ng-click="delete(consulting.id, key)"><span class="fa fa-times"></span></button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
