<div class="row">
	<div class="col-sm-12">
		<h1>{{isNew?'Shto':'Modifiko'}} {{consulting.header}}</h1>
	</div>
</div>
<div class="row">
	<div class="col-sm-5">
		<div class="form-group row">
			<div class="col-sm-12">
				<label>Titulli i shërbimit:</label>
				<input class="form-control" type="text" ng-model="consulting.header">
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-12">
				<label>Përshkrim:</label>
				<textarea class="form-control" rows="8" ng-model="consulting.content"></textarea>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-12">
				<button class="btn btn-success btn-block" type="button" ng-click="save(key, consulting.id)">
					<span class="fa fa-plus"></span> <span ng-if="!isNew">Ruaj</span><span ng-if="isNew">Shto</span>
				</button>
			</div>
		</div>
	</div>
</div>
<div class="clearfix"></div>
<div ng-if="!isNew" class="row">
	<div class="col-sm-12">
		<h3>Galeria</h3>
	</div>
	<div class="col-sm-3" ng-repeat="(key, image) in consulting.images">
		<img class="img-responsive img-thumbnail" ng-src="{{imagesEndpoint}}{{image.path}}.{{image.ext}}" />
		<form class="" name="form">
			<textarea class="form-control" rows="3" ng-model="image.caption"></textarea>
			<div class="row">
				<div class="col-sm-12">
					<div class="btn-group btn-group-justified" role="group">
						<div class="btn-group" role="group">
							<button type="button" ng-disabled="!form.$dirty" class="btn-group btn btn-sm btn-success fa fa-check"></button>
						</div>
						<div class="btn-group" role="group">
							<button type="button" ng-click="deleteImage(image.id, key)" class="btn-group btn btn-sm btn-danger fa fa-times"></button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="admin-item-container col-sm-3 text-center">
		<div class="admin-item">
			<div flow-init="flowPath" flow-files-submitted="$flow.upload()" flow-file-success="pushImage($file, $message, $flow)">
				<span class="text-muted fa fa-plus text-center btn" flow-btn></span>
				<div flow-file-progress=""></div>
			</div>
		</div>
	</div>
</div>
