<div class="row">
	<div class="col-sm-12 text-center">
		<h1>Paneli i menaxhimit</h1>
		<hr>
	</div>
</div>
<div class="row">
	<div class="admin-item-container col-sm-3 text-center">
		<div class="admin-item">
			<a ui-sref="marketing.admin.businesses">
				<span class="fa fa-building text-center"></span>
				<h3>Menaxho Bizneset</h3>
			</a>
		</div>
	</div>
	<div class="admin-item-container col-sm-3 text-center">
		<div class="admin-item">
			<a ui-sref="marketing.admin.events">
				<span class="fa fa-calendar text-center"></span>
				<h3>Menaxho Eventet</h3>
			</a>
		</div>
	</div>
	<div class="admin-item-container col-sm-3 text-center">
		<div class="admin-item">
			<a ui-sref="marketing.admin.news">
				<span class="fa fa-newspaper-o text-center"></span>
				<h3>Menaxho Lajmet</h3>
			</a>
		</div>
	</div>
	<div class="admin-item-container col-sm-3 text-center">
		<div class="admin-item">
			<a ui-sref="marketing.admin.services">
				<span class="fa fa-gavel text-center"></span>
				<h3>Menaxho Sherbimet</h3>
			</a>
		</div>
	</div>
	<div class="admin-item-container col-sm-3 text-center">
		<div class="admin-item">
			<a ui-sref="marketing.admin.consulting">
				<span class="fa fa-briefcase text-center"></span>
				<h3>Menaxho konsulencen</h3>
			</a>
		</div>
	</div>
	<div class="admin-item-container col-sm-3 text-center">
		<div class="admin-item">
			<a ui-sref="marketing.admin.jobs">
				<span class="fa fa-user text-center"></span>
				<h3>Menaxho CV</h3>
			</a>
		</div>
	</div>
	<div class="admin-item-container col-sm-3 text-center">
		<div class="admin-item">
			<a ui-sref="marketing.admin.info">
				<span class="fa fa-info text-center"></span>
				<h3>Menaxho informacionet</h3>
			</a>
		</div>
	</div>
	<div class="admin-item-container col-sm-3 text-center">
		<div class="admin-item">
			<a ui-sref="marketing.admin.options">
				<span class="fa fa-gear text-center"></span>
				<h3>Menaxho opsionet</h3>
			</a>
		</div>
	</div>
</div>
