<div class="row">
	<button class="btn btn-lg btn-default pull-right" type="button" ui-sref="marketing.admin.eventNew"><span class="fa fa-plus"></span> <span>Shto event</span></button>
	<div class="col-sm-12">
		<h1>Eventet</h1>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<h2>Kërko</h2>
	</div>
</div>
<div class="row form-group">
	<div class="col-sm-3">
		<input class="form-control" placeholder="Emri" type="text" ng-model="name">
	</div>
	<div class="col-sm-2">
		<select class="form-control" ng-model="currentCategory" ng-options="category.id as category.name for category in categories">
			<option value="">-- Zgjidh kategorinë --</option>
		</select>
	</div>
	<div class="col-sm-2">
		<select class="form-control" ng-model="currentCountry" ng-options="country.id as country.name for country in countries">
			<option value="">-- Zgjidh shtetin --</option>
		</select>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<table class="table table-responsive table-striped table-condensed">
			<thead>
				<tr>
					<th>ID</th>
					<th>Emri i eventit</th>
					<th>Shteti</th>
					<th>Adresa</th>
					<th>E-mail</th>
					<th>Celulari</th>
					<th>Data</th>
					<th>Veprime</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="(key, event) in events | filter: {country_id: currentCountry?currentCountry:undefined}:true | filter: {name:name}">
					<td ng-bind="event.id"></td>
					<td ng-bind="event.name"></td>
					<td style="color:{{event.country.color}}" ng-bind="event.country.name"></td>
					<td ng-bind="event.address"></td>
					<td ng-bind="event.email"></td>
					<td ng-bind="event.phone"></td>
					<td ng-bind="event.date | date"></td>
					<td>
						<button class="btn btn-warning" type="button" ui-sref="marketing.admin.eventEdit({id: event.id})"><span class="glyphicon glyphicon-pencil"></span></button>
						<button class="btn btn-danger" type="button" ng-click="delete(event.id, key)"><span class="fa fa-times"></span></button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
