<div class="row">
	<div class="col-sm-12">
		<h1>{{isNew?'Shto':'Modifiko'}} {{event.name}}</h1>
	</div>
</div>
<div class="row">
	<div class="col-sm-5">
		<div class="form-group row">
			<div class="col-sm-12">
				<label>Emri i eventit:</label>
				<input class="form-control" type="text" ng-model="event.name">
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-12">
				<label>Shteti:</label>
				<select class="form-control" ng-model="event.country_id" ng-options="country.id as country.name for country in countries">
					<option value="">-- Zgjidh një shtet --</option>
				</select>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-6">
				<label>E-mail:</label>
				<input type="text" class="form-control" ng-model="event.email"/>
			</div>
			<div class="col-sm-6">
				<label>Celular:</label>
				<input type="text" class="form-control" ng-model="event.phone"/>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-12">
				<label>Përshkrim:</label>
				<textarea class="form-control" rows="8" ng-model="event.description"></textarea>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-12">
				<button class="btn btn-success btn-block" type="button" ng-click="save(key, event.id)">
					<span class="fa fa-plus"></span> <span ng-if="!isNew">Ruaj</span><span ng-if="isNew">Shto</span>
				</button>
			</div>
		</div>
	</div>
	<div class="col-sm-7">
		<div class="row">
			<div class="col-sm-12">
				<map ng-if="!isNew" center="{{event.coords_x}}, {{event.coords_y}}" zoom="8" on-click="updateMarker()">
					<marker position="[{{event.coords_x}}, {{event.coords_y}}]"></marker>
				</map>
				<map ng-if="isNew" center="0, 0" zoom="1" on-click="updateMarker()">
					<marker position="[{{event.coords_x}}, {{event.coords_y}}]"></marker>
				</map>
			</div>
		</div>
		<div class="row form-group">
			<div class="col-sm-6">
				<label>Latitude: </label>
				<input class="form-control" type="text" ng-model="event.coords_x" placeholder="Latitude">
			</div>
			<div class="col-sm-6">
				<label>Longtitude: </label>
				<input class="form-control" type="text" ng-model="event.coords_y" placeholder="Longtitude">
			</div>
		</div>
		<div class="row form-group">
			<div class="col-sm-12">
				<label>Adresa: </label>
				<input class="form-control" type="text" ng-model="event.address" placeholder="Adresa">
			</div>
		</div>
	</div>
</div>
<div class="clearfix"></div>
<div ng-if="!isNew" class="row">
	<div class="col-sm-12">
		<h3>Galeria</h3>
	</div>
	<div class="col-sm-3" ng-repeat="(key, image) in event.images">
		<img class="img-responsive img-thumbnail" ng-src="{{imagesEndpoint}}{{image.path}}.{{image.ext}}" />
		<form class="" name="form">
			<textarea class="form-control" rows="3" ng-model="image.caption"></textarea>
			<div class="row">
				<div class="col-sm-12">
					<div class="btn-group btn-group-justified" role="group">
						<div class="btn-group" role="group">
							<button type="button" ng-disabled="!form.$dirty" class="btn-group btn btn-sm btn-success fa fa-check"></button>
						</div>
						<div class="btn-group" role="group">
							<button type="button" ng-click="deleteImage(image.id, key)" class="btn-group btn btn-sm btn-danger fa fa-times"></button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="admin-item-container col-sm-3 text-center">
		<div class="admin-item">
			<div flow-init="flowPath" flow-files-submitted="$flow.upload()" flow-file-success="pushImage($file, $message, $flow)">
				<span class="text-muted fa fa-plus text-center btn" flow-btn></span>
				<div flow-file-progress=""></div>
			</div>
		</div>
	</div>
</div>
