<script type="text/javascript">
	$(document).ready(function() {
		$(".dropdown-toggle").dropdown();
	});
</script>
<div id="wrapper" ng-controller="adminController">
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="navbar-header">
			<a class="navbar-brand" ui-sref="marketing.home">magnetbiznes.com</a>
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<ul class="nav navbar-right top-nav">
			<li><a style="cursor:pointer" ng-click="logout()"><i class="fa fa-fw fa-power-off"></i>Logout</a></li>
			<!--<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Profile <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li>
						<a href="/profile"><i class="fa fa-fw fa-user"></i> Profile</a>
					</li>
					<li>
						<a href="/settings"><i class="fa fa-fw fa-gear"></i> Settings</a>
					</li>
					<li class="divider"></li>
					<li>
						<a style="cursor:pointer" ng-click="logout()"><i class="fa fa-fw fa-power-off"></i>Logout</a>
					</li>
				</ul>
			</li>-->
		</ul>
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav side-nav">
				<!--<li>
					<a ui-sref="marketing.admin.dashboard"><i class="fa fa-dashboard"></i> Admin</a>
				</li>-->
				<li>
					<a ui-sref="marketing.admin.businesses"><i class="fa fa-building"></i> Bizneset</a>
				</li>
				<li>
					<a ui-sref="marketing.admin.events"><i class="fa fa-calendar"></i> Eventet</a>
				</li>
				<li>
					<a ui-sref="marketing.admin.news"><i class="fa fa-newspaper-o"></i> Lajmet</a>
				</li>
				<li>
					<a ui-sref="marketing.admin.services"><i class="fa fa-gavel"></i> Sherbimet</a>
				</li>
				<li>
					<a ui-sref="marketing.admin.consulting"><i class="fa fa-briefcase"></i> Konsulence</a>
				</li>
				<li>
					<a ui-sref="marketing.admin.jobs"><i class="fa fa-user"></i> CV</a>
				</li>
				<li>
					<a ui-sref="marketing.admin.info"><i class="fa fa-info"></i> Info</a>
				</li>
				<li>
					<a ui-sref="marketing.admin.options"><i class="fa fa-gear"></i> Opsionet</a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="row admin-container">
		<div class="col-sm-12" ui-view>

		</div>
	</div>
</div>
