<div class="row">
	<div class="col-sm-12">
		<h1>{{isNew?'Shto':'Modifiko'}} {{job.name}}</h1>
	</div>
</div>
<div class="row">
	<div class="col-sm-5">
		<div ng-if="!isNew" class="row">
			<div class="col-sm-12">
				<h3>Fotografia</h3>
			</div>
			<div ng-if="job.image" class="form-group col-sm-5">
				<img class="img-responsive img-thumbnail" ng-src="{{imagesEndpoint}}{{job.image.path}}.{{job.image.ext}}" />
				<form class="" name="form">
					<textarea ng-show="false" class="form-control" rows="3" ng-model="job.image.caption"></textarea>
					<div class="row">
						<div class="col-sm-12">
							<div class="btn-group btn-group-justified" role="group">
								<div class="btn-group" role="group">
									<button type="button" ng-disabled="!form.$dirty" class="btn-group btn btn-sm btn-success fa fa-check"></button>
								</div>
								<div class="btn-group" role="group">
									<button type="button" ng-click="deleteImage(job.image.id)" class="btn-group btn btn-sm btn-danger fa fa-times"></button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div ng-if="!job.image" class="admin-item-container col-sm-3 text-center">
				<div class="admin-item">
					<div flow-init="flowPath" flow-files-submitted="$flow.upload()" flow-file-success="pushImage($file, $message, $flow)">
						<span class="text-muted fa fa-plus text-center btn" flow-btn></span>
						<div flow-file-progress=""></div>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-12">
				<label>Emri:</label>
				<input class="form-control" type="text" ng-model="job.name">
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-6">
				<label>Shteti:</label>
				<select class="form-control" ng-model="job.country_id" ng-options="country.id as country.name for country in countries">
					<option value="">-- Zgjidh një shtet --</option>
				</select>
			</div>
			<div class="col-sm-6">
				<label>Tipi:</label>
				<select class="form-control" ng-model="job.type_id" ng-options="type.id as type.name for type in categories">
					<option value="">-- Zgjidh një tip --</option>
				</select>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-6">
				<label>E-mail:</label>
				<input type="text" class="form-control" ng-model="job.email"/>
			</div>
			<div class="col-sm-6">
				<label>Celular:</label>
				<input type="text" class="form-control" ng-model="job.phone"/>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-12">
				<label>Përshkrim:</label>
				<textarea class="form-control" rows="8" ng-model="job.description"></textarea>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-12">
				<button class="btn btn-success btn-block" type="button" ng-click="save(key, job.id)">
					<span class="fa fa-plus"></span> <span ng-if="!isNew">Ruaj</span><span ng-if="isNew">Shto</span>
				</button>
			</div>
		</div>
	</div>
	<div class="col-sm-7">
		<div ng-if="!job.path" class="panel panel-default">
			<div class="panel-heading">
				Shto PDF
			</div>
			<div class="panel-body">
				<div class="admin-item-container text-center">
					<div class="admin-item">
						<div flow-init="flowPathPdf" flow-files-submitted="$flow.upload()" flow-file-success="addPdf($file, $message, $flow)">
							<span class="text-muted fa fa-plus text-center btn" flow-btn></span>
							<div flow-file-progress=""></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div ng-if="job.path" class="panel panel-default">
			<button type="button" ng-click="deletepdf(job.id)" class="btn-group btn btn-sm btn-danger fa fa-times pull-right"></button>
			<div class="panel-heading">
				<my-pdf-viewer-toolbar></my-pdf-viewer-toolbar>
			</div>
			<div class="panel-body">
				<pdf-viewer url="path" scale="1" show-toolbar="false"></pdf-viewer>
			</div>
		</div>
	</div>
</div>
<div class="clearfix"></div>
