<div class="row">
	<button class="btn btn-lg btn-default pull-right" type="button" ui-sref="marketing.admin.jobNew"><span class="fa fa-plus"></span> <span>Shto punësim</span></button>
	<div class="col-sm-12">
		<h1>Punësimet</h1>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<h2>Kërko</h2>
	</div>
</div>
<div class="row form-group">
	<div class="col-sm-3">
		<input class="form-control" placeholder="Emri" type="text" ng-model="name">
	</div>
	<div class="col-sm-2">
		<select class="form-control" ng-model="currentCategory" ng-options="category.id as category.name for category in categories">
			<option value="">-- Zgjidh kategorinë --</option>
		</select>
	</div>
	<div class="col-sm-2">
		<select class="form-control" ng-model="currentCountry" ng-options="country.id as country.name for country in countries">
			<option value="">-- Zgjidh shtetin --</option>
		</select>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<table class="table table-responsive table-striped table-condensed">
			<thead>
				<tr>
					<th>ID</th>
					<th>Emri i punësimit</th>
					<th>Shteti</th>
					<th>Kategoria</th>
					<th>E-mail</th>
					<th>Celulari</th>
					<th>Veprime</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="(key, job) in jobs | filter: {type_id: currentCategory?currentCategory:undefined,country_id: currentCountry?currentCountry:undefined}:true | filter: {name:name}">
					<td ng-bind="job.id"></td>
					<td ng-bind="job.name"></td>
					<td ng-bind="job.country.name"></td>
					<td ng-bind="job.type.name"></td>
					<td ng-bind="job.email"></td>
					<td ng-bind="job.phone"></td>
					<td>
						<button class="btn btn-sm btn-warning" type="button" ui-sref="marketing.admin.jobEdit({id: job.id})"><span class="glyphicon glyphicon-pencil"></span></button>
						<button class="btn btn-sm btn-danger" type="button" ng-click="delete(job.id, key)"><span class="fa fa-times"></span></button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
