<link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet" type="text/css">
<style>
	.title, .subtitle {
		font-family: 'Lato';
		font-weight: 100;
		font-size: 84px;
	}
	.login-panel span {
		font-size: 48px;
	}
	.login-form {
		margin-right: 15px;
	}
	.login-form::after {
		content: "";
		position: absolute;
		top:0px;
		right:0px;
		border-right: 1px solid #ddd;
		height: 100%;
		opacity: 0.5;
		margin: 0px;
	}
	.subtitle {
		font-size: 72px;
	}
	.subtitle span {
		content: "";
		position: absolute;
		top: 70px;
		left: 0px;
		font-size: 16px;
		transform: rotate(-90deg);
		transform-origin: left top 0;
		display: block;
	}
</style>
<div class="row page-content">
	<div class="col-sm-12">
		<div class="row">
			<div class="col-sm-12">
				<div class="title text-center text-muted">magnetbiznes.com</div>
			</div>
		</div>
		<hr>
		<div class="row text-right">
			<div class="col-sm-offset-3 col-sm-3">
				<form class="login-form" ng-submit="login()">
					<div class="input-group form-group">
						<span class="input-group-addon"><span class="fa fa-user"></span></span>
						<input type="text" class='form-control' placeholder="e-mail" ng-model="email" required>
					</div>
					<div class="input-group form-group">
						<span class="input-group-addon"><span class="fa fa-lock"></span></span>
						<input type="password" class='form-control' ng-model="password" required>
					</div>
					<div class="form-group text-center">
						<button class="btn btn-md btn-default btn-block" type="submit"><span class="fa fa-user text-muted"></span><span> Login</span></button>
					</div>
				</form>
			</div>
			<div class="login-panel col-sm-2 text-center text-muted">
				<!--<span>admin</span>-->
				<div class="subtitle">login</div>
				<!--<img class="img-responsive" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150"/>-->
			</div>
		</div>
	</div>
</div>
