<div class="row">
   <div class="col-sm-12 text-center">
      <h1>Opsionet</h1>
   </div>
</div>
<hr>
<div class="row">
   <div class="col-sm-6">
      <div class="row">
         <div class="col-sm-12">
            <h3>Sliders</h3>
         </div>
      </div>
      <div class="table">
         <table class="table table-responsive table-striped table-condensed">
            <thead>
               <tr>
                  <th>ID</th>
                  <th>Biznesi</th>
                  <th>Prioriteti</th>
                  <th>Veprime</th>
               </tr>
            </thead>
            <tbody>
               <tr ng-repeat="(key, slide) in slides">
                  <td ng-bind="slide.id"></td>
                  <td>
                     <input type="text" ng-model="slide.business" typeahead-editable="false" typeahead="business as business.name for business in businesses| filter:{name:$viewValue} | limitTo:8" class="form-control">
                  </td>
                  <td>
                     <input class="form-control" type="text" ng-model="slide.priority">
                  </td>
                  <td>
                     <button class="btn btn-success" type="button" ng-click="saveSlide(slide.id, key)"><span class="glyphicon glyphicon-check"></span></button>
                     <button class="btn btn-danger" type="button" ng-click="deleteSlide(slide.id, key)"><span class="fa fa-times"></span></button>
                  </td>
               </tr>
               <tr>
                  <td></td>
                  <td>
                     <input placeholder="Emri i biznesit" type="text" ng-model="newSlide.business" typeahead-editable="false" typeahead="business as business.name for business in businesses| filter:{name:$viewValue} | limitTo:8" class="form-control">
                  </td>
                  <td>
                     <input class="form-control" type="text" ng-model="newSlide.priority" ng-disabled="true">
                  </td>
                  <td>
                     <button class="btn btn-success" type="button" ng-click="saveSlide()"><span class="glyphicon glyphicon-plus"></span></button>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
</div>
