<div class="row">
	<button class="btn btn-lg btn-default pull-right" type="button" ui-sref="marketing.admin.serviceNew"><span class="fa fa-plus"></span> <span>Shto shërbim</span></button>
	<div class="col-sm-12">
		<h1>Shërbimet</h1>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<h2>Kërko</h2>
	</div>
</div>
<div class="row form-group">
	<div class="col-sm-3">
		<input class="form-control" placeholder="Emri" type="text" ng-model="name">
	</div>
	<div class="col-sm-2">
		<select class="form-control" ng-model="currentCategory" ng-options="category.id as category.name for category in categories">
			<option value="">-- Zgjidh kategorinë --</option>
		</select>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<table class="table table-responsive table-striped table-condensed">
			<thead>
				<tr>
					<th>ID</th>
					<th>Emri i shërbimit</th>
					<th>Kategoria</th>
					<th>Adresa</th>
					<th>E-mail</th>
					<th>Celulari</th>
					<th>Veprime</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="(key, service) in services | filter: {category_id: currentCategory?currentCategory:undefined,country_id: currentCountry?currentCountry:undefined}:true | filter: {name:name}">
					<td ng-bind="service.id"></td>
					<td ng-bind="service.name"></td>
					<td ng-bind="service.category.name"></td>
					<td ng-bind="service.address"></td>
					<td ng-bind="service.email"></td>
					<td ng-bind="service.phone"></td>
					<td>
						<button class="btn btn-sm btn-warning" type="button" ui-sref="marketing.admin.serviceEdit({id: service.id})"><span class="glyphicon glyphicon-pencil"></span></button>
						<button class="btn btn-sm btn-danger" type="button" ng-click="delete(service.id, key)"><span class="fa fa-times"></span></button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
