<div class="row">
	<div class="col-sm-12">
		<h1>{{isNew?'Shto':'Modifiko'}} {{service.name}}</h1>
	</div>
</div>
<div class="row">
	<div class="col-sm-5">
		<div class="form-group row">
			<div class="col-sm-12">
				<label>Emri i shërbimit:</label>
				<input class="form-control" type="text" ng-model="service.name">
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-6">
				<label>Kategoria:</label>
				<select class="form-control" ng-model="service.category_id" ng-options="category.id as category.name for category in categories">
					<option value="">-- Zgjidh një kategori --</option>
				</select>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-6">
				<label>E-mail:</label>
				<input type="text" class="form-control" ng-model="service.email"/>
			</div>
			<div class="col-sm-6">
				<label>Celular:</label>
				<input type="text" class="form-control" ng-model="service.phone"/>
			</div>
			<div class="col-sm-12">
				<label>Adresa:</label>
				<input type="text" class="form-control" ng-model="service.address"/>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-12">
				<label>Përmbajtja:</label>
				<textarea class="form-control" rows="8" ng-model="service.content"></textarea>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-12">
				<button class="btn btn-success btn-block" type="button" ng-click="save(key, service.id)">
					<span class="fa" ng-class="isNew?'fa-plus':'fa-save'"></span> <span ng-if="!isNew">Ruaj</span><span ng-if="isNew">Shto</span>
				</button>
			</div>
		</div>
	</div>
</div>
<div class="clearfix"></div>
<div ng-if="!isNew" class="row">
	<div class="col-sm-12">
		<h3>Galeria</h3>
	</div>
	<div class="col-sm-3" ng-repeat="(key, image) in service.images">
		<img class="img-responsive img-thumbnail" ng-src="public_files/uploads/{{image.path}}.{{image.ext}}" />
		<form class="" name="form">
			<textarea class="form-control" rows="3" ng-model="image.caption"></textarea>
			<div class="row">
				<div class="col-sm-12">
					<div class="btn-group btn-group-justified" role="group">
						<div class="btn-group" role="group">
							<button type="button" ng-disabled="!form.$dirty" class="btn-group btn btn-sm btn-success fa fa-check"></button>
						</div>
						<div class="btn-group" role="group">
							<button type="button" ng-click="deleteImage(image.id, key)" class="btn-group btn btn-sm btn-danger fa fa-times"></button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="admin-item-container col-sm-3 text-center">
		<div class="admin-item">
			<div flow-init="flowPath" flow-files-submitted="$flow.upload()" flow-file-success="pushImage($file, $message, $flow)">
				<span class="text-muted fa fa-plus text-center btn" flow-btn></span>
				<div flow-file-progress=""></div>
			</div>
		</div>
	</div>
</div>
