<div class="row">
	<carousel>
		<slide ng-repeat="slide in slides" active="slide.business.images[0].active">
			<a ui-sref="marketing.business({id:slide.business.id})">
				<img ng-src="{{imagesEndpoint}}{{slide.business.images[0].path}}.{{slide.business.images[0].ext}}" alt="" />
			</a>
		</slide>
	</carousel>
</div>
<div class="row page-heading home-search">
	<div class="col-sm-12 text-center">
		<h2 class="title">Kërko biznese</h2>
	</div>
	<form ng-submit="search()">
		<div class="col-xs-offset-0 col-xs-12 col-sm-offset-3 col-sm-6 home-search-shadow">
			<div class="row">
				<div class="col-sm-4 text-center">
					<select class="form-control" ng-options="country.slug as country.name for country in countries" ng-model="selectedCountry">

					</select>
				</div>
				<div class="col-sm-8 text-center">
					<div class="input-group">
						<input type="text" name="text" class="form-control" ng-model="text" placeholder="Kërko...">
						<span class="input-group-btn">
							<button class="btn btn-default" ui-sref="marketing.country({filter:text, country: selectedCountry})" type="button"><span class="fa fa-search"></span></button>
						</span>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
<div class="row page-content">
	<div class="col-xs-offset-0 col-xs-12 col-sm-offset-2 col-sm-8">
		<div class="row">
			<div class="col-xs-3 h text-center" ng-repeat="country in countries">
				<div class="state-container visible-sm visible-md visible-lg">
					<a ui-sref="marketing.country({country: country.slug})">
						<div class="state">
							<div class="row">
								<span style="color:{{country.color}}" class="mg {{country.icon}}"></span>
							</div>
							<div class="row">
								<span class="title" ng-bind="country.name"></span>
							</div>
						</div>
					</a>
				</div>
				<div class="state-container visible-xs">
					<a ui-sref="marketing.country({country: country.slug})">
						<div class="state-xs">
							<div class="row">
								<span style="color:{{country.color}}" class="mg {{country.icon}}"></span>
							</div>
							<div class="row">
								<span class="title" ng-bind="country.name"></span>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
