<ul class="nav navbar-nav">
	<li ui-sref-active="active"><a ui-sref="marketing.home">Faqja kryesore</a></li>
	<li ui-sref-active="active"><a ui-sref="marketing.events">Evente</a></li>
	<li ui-sref-active="active"><a ui-sref="marketing.newss">Lajme biznesi</a></li>
	<li ui-sref-active="active" class="dropdown">
		<a ui-sref="marketing.services" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Shërbime biznesi <span class="caret"></span></a>
		<ul class="dropdown-menu" role="menu">
			<li ng-repeat="service in services | limitTo:MARKETING.maxServices"><a ui-sref="marketing.services({category: service.id})"><span class="fa" ng-class="service.icon"></span> <span ng-bind="service.name"></span></a></li>
			<li ng-if="services.length>MARKETING.maxServices?true:false" class="text-center"><a ui-sref="marketing.services">...</a></li>
		</ul>
	</li>
	<!--<li ui-sref-active="active"><a ui-sref="marketing.consulting">Konsulencë marketingu</a></li>-->
	<li ui-sref-active="active" class="dropdown">
		<a ui-sref="marketing.jobs({currentType: undefined})" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">CV</a>
		<ul class="dropdown-menu" role="menu">
			<li ng-repeat="jobType in jobTypes"><a ui-sref="marketing.jobs({currentType: jobType.id})"><span style="color: {{jobType.icon}}" ng-class="jobType.icon"></span> <span ng-bind="jobType.name"></span></a></li>
		</ul>
	</li>
	<li ui-sref-active="active"><a ui-sref="marketing.about">Kush jemi ne</a></li>
	<li ui-sref-active="active"><a ui-sref="marketing.contact">Kontakt</a></li>
	<li><a ui-sref="marketing.admin.dashboard"><span class="fa fa-user"></span></a></li>
</ul>
